@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import 'tailwindcss';

:root {
  --black: #000000;
  --white: #ffffff;
  --blue-primary: hsl(220, 98%, 61%);

  /* light themes */
  --gray-50: hsl(0, 0%, 98%);
  --gray-300: hsl(233, 11%, 84%);
  --gray-600: hsl(236, 9%, 61%);
  --purple-300: hsl(234, 39%, 85%);
  --navy-850: hsl(235, 19%, 35%);

  /* dark themes */
  --navy-950: hsl(235, 21%, 11%);
  --navy-900: hsl(235, 24%, 19%);
  --purple-hover: hsl(236, 33%, 92%);
  --purple-600: hsl(235, 16%, 43%);
  --purple-700: hsl(233, 14%, 35%);
  --purple-800: hsl(237, 14%, 26%);
}

@theme {
  /* colors */
  --color-background: var(--color-gray-300);
  --color-foreground: var(--navy-850);
  --color-hr-background: var(--gray-300);
  --color-column-background: var(--gray-50);
  /* fonts */
  --font-josefin-sans: "Josefin Sans", sans-serif;
  --color-button: var(--purple-600);
  --color-check: var(--color-gray-300);
  --color-primary: var(--blue-primary);
}

.dark {
  --color-background: var(--navy-950);
  --color-foreground: var(--gray-50);
  --color-hr-background: var(--purple-700);
  --color-column-background: var(--navy-900);
  --color-button: var(--purple-600);
   --color-check: var(--color-gray-500)
}

@layer base {
  body {
    font-family: var(--font-josefin-sans);
    font-size: 0.77rem;
  }
}
